<div class="container">
    <h3 class="text-center">All the Books</h3>
    <button type="button" 
        (click)="updateBook(-1)" 
        class="btn btn-success mb-2">
        <i class="fa fa-plus"></i>
        Add a Book
    </button>
    <table class="table table-striped">
        <thead class="thead-dark">
            <th scope="col">Title</th>
            <th scope="col">ISBN</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{ book.title }}</td>
                <td>{{ book.isbn }}</td>
                <td>
                    <button type="button" 
                        (click)="updateBook(book.id)" 
                        class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                        Edit
                    </button>
                </td>
                <td>
                    <button type="button"                         
                        (click)="deleteBook(book.id)" 
                        class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>